[Desktop Entry]
Type=Application
Name=vyper
Comment=Live clip editor
Exec=vyper %F
Icon=vyper
Terminal=false
Categories=AudioVideo;X-VideoEditor;
MimeType=video/mp4;video/matroska;video/matroska-3d;audio/matroska;video/webm;video/quicktime;video/vnd.avi;video/mpeg;video/mp2t;video/x-ms-wmv;video/x-flv;video/3gpp;video/ogg;application/mxf;audio/mp4;audio/mpeg;audio/flac;audio/ogg;audio/vnd.wave;audio/x-ms-wma;audio/aac;audio/x-opus+ogg;application/x-subrip;
StartupNotify=false
StartupWMClass=vyper
